[Desktop Entry]
Name=Griffon
Comment=Security monitoring and antivirus tool
Exec=sg griffon -c /usr/bin/griffon-gui
Icon=griffon
Terminal=false
Type=Application
Categories=Utility;Security;
StartupNotify=true